---
title: Style Gude
---

.bc-black
  .container
    .row
      .one.whole.padded
        %h1.c-white Style Guide
= partial "markup_partials/style/section", locals: {section_header: "Colors", style_guide_partial: "markup_partials/style/colors/index", style_guide_partial_locals: {colors_list: ['c-write-it', 'c-e-m-ciorian', 'c-predator-blood', 'c-cant-express-myself']}}